/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f1;
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h1.posts-title, h2.posts-title {
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  margin-top: 20px;
  color: #2C3E50;
}
h1.posts-title:hover, h2.posts-title:hover{
  cursor: pointer;
  color: #34495e;
  text-shadow: 0px 0px 1px #3498db;
}
p { margin: 1em 0; }

a { color: #2C3E50; text-decoration: none}
/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
div.me-nav{
  width: 100%;
  height: 60px;
  position: absolute;
  background: #2C3E50;
  top: 0px;
}
div.me-home-nav{
  height: 60px;
  position: relative;
  background: #34495e;
}
span.me-logo a{
  color: #95a5a6;
  font-size: 25px;
  margin-left: 10px;
  line-height: 25px;
  font-family: 'Titan One', cursive, Kai;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

div.me-home-btn{
  line-height: 80px;
  float: left;
}
span.me-icon-home{
  margin-left: 15px;
  font-size: 35px;
}
span.me-icon-home{
  color: #95a5a6;
}
span.me-icon-home:hover, span.me-logo a:hover{
  color: #ecf0f1;
  text-shadow: 1px 1px 4px #3498db;
  cursor: pointer;
}
span.me-icon-home:visited{
  color: #95a5a6;
}
ul.posts li{
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 20px;
  font-size: 18px;
  line-height: 12px;
  color: #7f8c8d;
}
ul.posts li a:hover{
  background-color: #2C3E50;
  color: #fff;
  padding: 2px;
}
.meta .meta-words::selection, ul.posts span::selection {
  background-color: #2C3E50;
  color: #fff;
}
.meta .meta-words::-moz-selection, ul.posts span::-moz-selection {
  background-color: #2C3E50;
  color: #fff;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site .header a {
  font-weight: bold;
  text-decoration: none;
}
.meta {
  padding-left: 20px;
}
.meta .meta-words {
  font-size: 15px;
  color: #7f8c8d;
}
.site {
  padding-bottom: 40px;
  background: #FFF;
  text-align: justify;
  top:0px;
  margin-left: 15%;
  width: 50%;
  min-width: 600px;
  min-height: 500px;
  font-size: 1.5em;
  color: #666;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  padding: 1.5em;
  font-size: 17px;
  line-height: 30px;
  color: #2C3E50;
}
.post ul, .post ol {
  margin-left: 1.35em;
}
.post blockquote p {
  border-left: 5px solid #eee;
  background:#ffe;
  padding: 10px 20px;
}
.post p::selection, .post blockquote p::selection{
  background: #2C3E50;
  color: #FFF;
}
.post p::-moz-selection {
  background: #2C3E50;
  color: #FFF;
}
.post p a, .post ol li a{
  color: #c0392b;
}
.post p a:hover, .post ol li a:hover{
  background-color: #c0392b;
  color: #fff;
}
.post p span.emp {
  color: #c0392b;
  font-weight: 1.1em;
}
.post p img {
  max-width: 550px;
  padding: 4px;
  box-shadow: 0px 0px 4px #2C3E50;
}
.post p img:hover {
  box-shadow: 0px 0px 8px #3498db;
}
div.post-nav {
  padding: 10px 25px;
  line-height: 25px;
  height: 25px;
}
a.prev {
  font-size: 15px;
  float: left;
}
a.next {
  font-size: 15px;
  float: right;
}

/*****************************************************************************/
/*
/* Comments
/*
/*****************************************************************************/
div.add-comments, div.share-it{
  padding: 20px;
}
hr.above-comments {
  height: 1px;
  border: none;
  border-top: 1px dashed #2C3E50;
  margin: 10px 20px;
}


/*****************************************************************************/
/*
/* Avatar animation only Desktops and laptops
/*
/*****************************************************************************/
@media only screen
and (min-width : 1024px){
	@keyframes myfirst /* Safari and Chrome */
	{
	0%   {top:80px;}
	50%  {top:180px;}
	100% {top:80px;}
	}
	@-webkit-keyframes myfirst /* Safari and Chrome */
	{
	0%   {top:80px;}
	50%  {top:180px;}
	100% {top:80px;}
	}
	.me-avatar {
	  width: 100px;
	  height: 100px;
	  border-radius: 50px;
	  position: absolute;
	  top: 80px;
	  right: 80px;
	  box-shadow: 1px 1px 2px #aaa;
	  animation:myfirst 3s ease 0s infinite alternate; /* Safari and Chrome */
	  -webkit-animation:myfirst 6s ease 0s infinite alternate; /* Safari and Chrome */
	}
  ul.nav-list {
    list-style: none;
    line-height: 50px;
    font-size: 25px;
    position: fixed;
    top: 120px;
    left: 0px;
  }
  ul.nav-list li a{
    color: #000;
    float: left;
    width: 100px;
    padding-left: 25px;
    margin-bottom: 4px;
    background: rgba(255,255,255,0.4);
  }
  ul.nav-list li a.nav-list-cur{
   border-right: 4px #c0392b solid;
  }
  ul.nav-list li a:hover{
    border-right: 4px #c0392b solid;
    width: 120px;
    -webkit-transition: width .25s ease-in-out;
    -moz-transition: width .25s ease-in-out;
    -ms-transition: width .25s ease-in-out;
    -o-transition: width .25s ease-in-out;
  }
}
@media only screen 
and (max-width : 1023px){
  ul.nav-list {
    position: absolute;
    right: 0px;
    top: 120px;
    list-style: none;
    margin-bottom: 15px;
  }
  ul.nav-list li a{
    float: left;
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
    line-height: 25px;
  }
  ul.nav-list li a.nav-list-cur{
    border-left: 4px #c0392b solid;
  }
  .me-avatar {
    display: none;
  }
}
/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.scroll-up{ 
        font-size: 38px; 
        position: fixed;
        display: none;
        right: 15%;
        bottom: 20%;
}
.footer {
  margin-left: 25%;
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 14px;
}
.footer a {
  color: #c0392b;
}
.footer a:hover{
  background-color: #c0392b;
  color: #fff;
}
@media only screen
and (max-width: 768px){
  .site{
    margin: 0 auto;
    width: 100%;
    min-width: 100%;
  }
  .meta {
    font-size: 0.5em;
    padding: 1.5em;
  }
  .post p img {
    width: 80%;
    padding: 4px;
    box-shadow: 0px 0px 4px #2C3E50;
  }
  .footer{
    padding: 20px;
    margin: 20px auto;
    font-size: 14px;
    text-align: center;
  }
  ul.posts li{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
    padding-right: 20px;
  }
  ul.posts li:nth-child(even){
    background: #ecf0f1;
  }
}
