/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f1;
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h1.posts-title, h2.posts-title {
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  margin-top: 20px;
  color: #2C3E50;
}
h1.posts-title:hover, h2.posts-title:hover{
  cursor: pointer;
  color: #34495e;
  text-shadow: 0px 0px 1px #3498db;
}
p { margin: 1em 0; }

a         { color: #2C3E50; text-decoration: none}
a:hover   { color: #34495e; text-shadow: 0px 0px 1px #34495e;}
/*
a:visited { color: #a0a; }
*/

/*****************************************************************************/
/*
/* Nav
/*
/*****************************************************************************/
div.me-nav{
  width: 100%;
  height: 60px;
  position: absolute;
  background: #2C3E50;
  top: 0px;
}
div.me-home-nav{
  height: 60px;
  position: relative;
  background: #34495e;
}
span.me-logo a{
  color: #95a5a6;
  font-size: 25px;
  margin-left: 10px;
  line-height: 25px;
  font-family: 'Titan One', cursive, Kai;
}
span.me-logo a:hover {
  cursor: pointer;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

div.me-home-btn{
  line-height: 80px;
}
span.me-icon-home{
  margin-left: 15px;
  font-size: 35px;
}
span.me-icon-home{
  color: #95a5a6;
}
span.me-icon-home:hover{
  color: #ecf0f1;
  text-shadow: 1px 1px 4px #3498db;
}
span.me-icon-home:visited{
  color: #95a5a6;
}
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 20px;
}

ul.posts li {
  font-size: 15px;
  line-height: 2.75em;
  color: #7f8c8d;
}

ul.posts span {
  font-size: 20px;
}
.meta .meta-words::selection, ul.posts span::selection {
  background-color: #2C3E50;
  color: #fff;
}
.meta .meta-words::-moz-selection, ul.posts span::-moz-selection {
  background-color: #2C3E50;
  color: #fff;
}
ul.posts a{
  font-size: 18px;
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site .header a {
  font-weight: bold;
  text-decoration: none;
}
.meta {
  padding-left: 20px;
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
}
.meta .meta-words {
  font-size: 15px;
  color: #7f8c8d;
}
.site {
  padding-bottom: 20px;
  background: #FFF;
  text-align: justify;
  top:0px;
  margin-left: 15%;
  width: 50%;
  min-width: 600px;
  min-height: 500px;
  font-size: 80%;
  color: #666;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  padding: 20px;
  font-size: 17px;
  line-height: 30px;
  color: #2C3E50;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  padding: 0.4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  padding: 0 .2em;
  font-size: 14px;
  line-height: 20px;
}

.post pre code {
  border: none;
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
}
.highlight pre {
  overflow: auto;
  font-size: 14px;
  line-height: 20px;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
}

.post pre.terminal code {
  background-color: #333;
}
.post blockquote p {
  border-left: 4px solid #2C3E50;
  padding: 4px 4px 4px 8px;
  background: #ecf0f1;
}
.post p::selection{
  background: #2C3E50;
  color: #FFF;
}
.post p::-moz-selection {
  background: #2C3E50;
  color: #FFF;
}
.post p a, .post ol li a{
  color: #c0392b;
}
.post p a:hover, .post ol li a:hover{
  text-shadow: 0px 0px 1px #c0392b;
}

/*****************************************************************************/
/*
/* Comments
/*
/*****************************************************************************/
div.add-comments {
  padding: 20px;
}
hr.above-comments {
  height: 1px;
  border: none;
  border-top: 1px dashed #2C3E50;
  margin: 10px 20px;
}


/*****************************************************************************/
/*
/* Avatar animation
/*
/*****************************************************************************/

@keyframes myfirst /* Safari and Chrome */
{
0%   {top:80px;}
50%  {top:180px;}
100% {top:80px;}
}
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:80px;}
50%  {top:180px;}
100% {top:80px;}
}
.me-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  top: 80px;
  right: 80px;
  box-shadow: 1px 1px 2px #aaa;
  animation:myfirst 3s ease 0s infinite alternate; /* Safari and Chrome */
  -webkit-animation:myfirst 6s ease 0s infinite alternate; /* Safari and Chrome */
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer {
  margin-left: 25%;
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 14px;
}
.footer a {
  color: #c0392b;
}
.footer a:hover {
  text-shadow: 0px 0px 1px #c0392b;
}
