*{
	font-family: 'Eagle Lake',"Hiragino Sans GB",sans-serif;
}
h4 {
	font-family: 'Eagle Lake', cursive;
}
body {
	margin:0;
	padding:0;
	background-image:url(main_bg.png);
}
.results{
	display: none;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
}
.icon-heart{
	font-size: 25px;
	color:#d9534f;
	border-color: #d43f3a;
}
.hp, .secs{
	color: #d9534f;
	border-color: #d43f3a;
}
.over:hover, .tooltip-inner:hover{
	color:#d2322d;
	border-color:#ac2925;
	cursor: pointer;
}
.cursor{
	position: relative;
}
.progress {
	background-color: #ccc;
}
.tooltip{
	margin-bottom: 4px;
}
.tooltip-inner{
	padding: 8px;
}
.words{
	color: #fff;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px;
	line-height: 2;
	font-weight: 400;
}
.countdown{
	border: 1px solid #333;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding: 25px;
	display: none;
	position: relative;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
}
.sep{
	font-weight: 900;
	font-size: 20px;
	color: #d9534f;
	border-color: #d43f3a;
}

/*icons*/
@font-face {
	font-family: 'fontawesome';
	src:url('fonts/fontawesome.eot');
	src:url('fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesome.woff') format('woff'),
		url('fonts/fontawesome.ttf') format('truetype'),
		url('fonts/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'fontawesome';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-heart, .icon-female, .icon-male {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-heart:before {
	content: "\f004";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
