<!DOCTYPE html>
<html>
    <head>
        <!--
            **                                                          
             * Author:         rainy                                   
             * Contact:        sniky.hack@gmail.com                   
            **                                               
        -->
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="Learning | Sharing"/>
{% include meta_header.html %}
