<!DOCTYPE html>
<html>
    <head>
        <!--
            **                                                          
             * Author:         rainy                                   
             * Contact:        sniky.hack@gmail.com                   
             * Create Date:    {{ page.date | date_to_string }}      
            **                                               
        -->
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="{{ page.tags | array_to_sentence_string }}"/>
        <meta name="keywords" content="{{ page.keywords | join: ',' }}"/>
{% include meta_header.html %}
