

body {
  font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
  font-size: 18px;
  width: 50%;
  line-height: 25px;
  background: #bdc3c7;
  color: #2c3e50;
  margin-top: 2em;
  margin-left: 8%;
  margin-right: 8%;
}
body::selection {
  background: #2c3e50;
  color: #FFF;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: .5em;
}

.partheading {
   font-size: 70%;
}

.chapterheading {
   font-size: 70%;
}

ol {
   list-style-type: decimal;
}

ol ol {
   list-style-type: lower-alpha;
}

ol ol ol {
   list-style-type: lower-roman;
}

ol ol ol ol {
   list-style-type: upper-alpha;
}

.footnote {
   font-size: 75%;
}

.epigraph {
/*   text-align: right; */
   font-size: 75%; 
} 

.figure {
 background-color: lavender;
}

.table {
background-color: pink;
}

.navigation {
   color: red;
   text-align: right;
   font-style: italic;
}

.smallprint {
   color: gray;
   font-size: 75%;
   text-align: right;
}

.smallprint hr {
   text-align: left;
   width: 40%;
}

.disable {
   /* color: #e5e5e5; */
color: gray;
}

p em {
  color: #c0392b;
}
p span.note-red {
  color: #d35400;
}
