@font-face
{
	font-family: 'Averia Gruesa Libre';
	src: url('AveriaGruesaLibre-Regular.ttf');
}
a {
  text-decoration: none;
  color: white;
}
body {
  min-width: 960px;
  background-color: #acddde;
  width: 100%;
  margin: 0px;
}
div.header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #3b5973;
  box-shadow: 0px 0px 4px #213240;
}
ul.nav {
  width: 960px;
  margin: 0 auto;
  list-style: none;
}
ul.nav > li {
  float: left;
  font-family: 'Averia Gruesa Libre', cursive;
  font-size: 20px;
  text-shadow: -1px -1px #333333;
  line-height: 50px;
  color: white;
  padding: 0 15px;
}
ul.nav > li:hover {
  cursor: pointer;
  background: #213240;
  box-shadow: 0 0 2px #213240;
  border-bottom: 2px solid #e8421c;
}
ul.nav > li.now > a {
  color: #54debc;
}
div.footer {
  height: 240px;
  width: 100%;
  background-color: #90d2d3;
}
div.main {
  margin: 70px auto;
  width: 960px;
  min-height: 650px;
}
div.side-nav {
  float: left;
  width: 220px;
  height: 500px;
  background-color: white;
}
div.wrapper {
  margin-left: 20px;
  float: left;
  width: 720px;
  height: 200px;
  background-color: white;
}
div.clear {
  clear: both;
}
