@font-face{
	font-family: 'Averia Gruesa Libre';
	src: url('../font/AveriaGruesaLibre-Regular.ttf');
}
body {
	height: 900px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Averia Gruesa Libre', cursive, 'Microsoft YaHei';
	background: red;
}
div.sides {
	height: 900px;
	width: 50%;
	padding-top: 15%;
}
span.l-h, span.r-h {
	font-size: 70px;
}
div.l-b, div.r-b {
	font-size: 20px;
	margin-top: 15px;
}
span.l-h, div.l-b {
	margin-right: 20px;
}
span.r-h, div.r-b {
	margin-left: 20px;
}
div.left-side {
	text-align: right;
	background-color: #000;
	color: #fff;
	position: absolute;
	left: 0px;
	/*
	float: left;
	-webkit-transform: rotate(-15deg);
	-webkit-transform-origin: right center 0;
	*/
}
div.right-side {
	text-align: left;
	background-color: #fff;
	color: #000;
	position: absolute;
	right: 0px;
	/*
	float: right;
	-webkit-transform: rotate(15deg);
	-webkit-transform-origin: left center 0;
	*/
}
