---
layout: default
title: It's rainy
---
  <h1 class="posts-title">{MAIN}</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li>(<span>{{ post.date | date_to_string }}</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a>)</li>
    {% endfor %}
  </ul>
  <ul class="nav-list"> 
                  <li><a class="nav-list-cur" href="/" >Main</a></li>
                  <li><a href="/">App</a></li>
                  <li><a href="/">About</a></li>
  </ul>
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- test -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-1465732372978982"
     data-ad-slot="6730782558"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
