{% include index_header.html %}
    <body>
        <div class="me-nav">
        </div>
          <div class="site">
            <div class="me-home-nav">
              <div class="me-home-btn">
                <a class="me-icon-home" href="/"><span class="icon-home me-icon-home"></span></a>
                <span class="me-logo"><a href="/">it's rainy</a></span>&nbsp;&nbsp;&lambda;&sdot;&psi;
              </div>

          </div>
            {{ content }}
        <a href="http://github.com/sniky"><img class="me-avatar" src="/assets/imgs/sniky.jpeg" alt="http://github.com/sniky" title="http://github.com/sniky" /></a>
        </div>
{% include index_footer.html %}
