{% include post_header.html %}
    <body>
        <div class="me-nav">
        </div>
          <div class="site">
            <div class="me-home-nav">
              <div class="me-home-btn">
                <a class="me-icon-home" href="/"><span class="icon-home me-icon-home"></span></a>
                <span class="me-logo"><a href="/">it's rainy</a></span>&nbsp;&nbsp;&lambda;&sdot;&psi;
              </div>
          </div>
<h2 class="posts-title">{{ page.title }}</h2>
<p class="meta">
	<span class="icon-pen"></span> <span class="meta-words">rainy</span>&nbsp;
	<span class="icon-tags"></span> <span class="meta-words">{{ page.tags | array_to_sentence_string }}</span>&nbsp;
	<span class="icon-cabinet"></span> <span class="meta-words">{{ page.date | date_to_string }}</span>
</p>
<!--
<p class="meta">{{ page.date | date_to_string }}</p>
-->

<div class="post">
{{ content }}
</div>
<hr class="above-comments">

<div class="post-nav">
    {% if page.previous %} 
        <a rel="prev" class="prev" href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    {% else %}
        <a rel="prev" class="prev" href="javascript:alert('第一篇');">第一篇 &larr;</a>
    {% endif %}
    {% if page.next %} 
        <a rel="next" class="next" href="{{ page.next.url }}">{{ page.next.title }}&rarr;</a>
    {% else %}
        <a rel="next" class="next" href="javascript:alert('已经是最后一篇');">最后一篇 &rarr;</a>
    {% endif %}
</div>

<hr class="above-comments">
<div class='share-it'>
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86326610.js?cdnversion='+~(-new Date()/36e5)];</script>
</div>
<div class='add-comments' >

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'sniky'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
  <ul class="nav-list"> 
                  <li><a {% if page.category  == "main" %} class='nav-list-cur' {% endif %}href="/" >Main</a></li>
                  <li><a {% if page.category  == "app" %} class='nav-list-cur' {% endif %}href="/app" >App</a></li>
  </ul>
<a href="http://github.com/sniky"><img class="me-avatar" src="/assets/imgs/sniky.jpeg"/></a>
</div>

{% include footer.html %}
