*{
	z-index: 0;
}
ul,a{
	text-decoration: none;
	list-style: none;
	color: #3498db;
}
body{
	padding: 0px;
	margin: 0px;
	background: #ecf0f1;
}
#header-line{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 3px;
	background: #3498db;
}
header{
	width: 100%;
	height: 130px;
}
#logo{
	color: #2c3e50;
	font-size: 45px;
	font-weight: 600;
	font-family: "Times New Roman", "Courier New";
	//text-shadow: 0px 1px 2px rgba(44, 62, 80, 1);
	width: 960px;
	height: 100px;
	margin: 0px auto;
	padding-top: 30px;
	padding-left: 20px;
}
#s{
	float: left;
	font-weight: 900;
}
#niky{
	-webkit-transform-origin: left;
	-webkit-transform: rotate(6deg) translate(4px, 0px);
	-webkit-transition: all 0.2s ease;
	float: left;
}
#niky:hover{
	-webkit-transform-origin: left;
	-webkit-transform: rotate(0deg) translate(0px, 0px);
}
#main{
	width: 960px;
	height: 100%;
	min-height: 600px;
	margin: 20px auto;
	margin-bottom: 120px;
}
#main article, #info{
	width: 900px;
	margin: 0 auto;
	color: #2c3e50;
	font-family: Georgia;
}
#info{
	font-size: 14px;
	color: #7f8c8d;
	margin-bottom: 20px;
}
#info span{
	margin-right: 8px;
}
#info i{
	margin-right: 3px;
}
#main article h2{
	border-bottom: 1px solid #3498db;
	font-weight: 400;
	font-size: 28px;
	padding: 10px;
}
#main article p{
	font-weight: 1.5em;
	font-size: 17px;
	line-height: 1.5em;
	text-indent:2em;
}
#main article blockquote{
	border-left: 4px solid #7f8c8d;
	padding: 4px 15px;
	color: #7f8c8d;
}
#main article p.img{
	margin: 0 auto;
	text-align: center;
}
#main article img{
	margin-top: 5px auto;
	max-width: 500px;
	border: 4px solid white;
	border-radius: 4px;
	box-shadow: 0px 0px 10px #3498db;
}
#main article hr {
	height: 1px;
	border-top: 1px dashed #3498db;
	border-left: none;
}
#main article ol{
	color: #2c3e50;
	list-style: lower-greek;
}
#main article ul{
	color: #2c3e50;
	list-style-type: square;
}
#main .article-nav{
	border-top: 1px solid #3498db;
}
#main .add-comments, .article-nav{
	width: 900px;
	margin: 40px auto;
	padding-top: 20px;
}
.icon-undo, .icon-redo{
	font-size: 30px;
}
.prev{float: left;}
.next{float: right;}
.scroll-up{
	font-size: 30px;
	position: fixed;
	display: none;
	right: 10%;
	bottom: 20%;
}


#articles{
}
#articles>li{
	margin-bottom: 20px;
}
#articles > li:nth-child(odd) .article-table{
	background: #3498db;
}
#articles > li .article-table{
	background: #2980b9;
}
.article-table{
	color: #ecf0f1;
}
.article-table h2{
	width: 750px;
	height: 50px;
	line-height: 50px;
	margin: 5px auto;
	padding-left: 5px;
	padding-top: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.article-table h2 a{
	color: #ecf0f1;
	font-family: Georgia;
	font-weight: 1.5em;
}
.article-table div.brief{
	color: #fff;
	width: 750px;
	margin: 0px auto;
	padding-left: 5px;
	padding-bottom: 20px;
	font-family: Georgia;
}
.article-table div.brief p a{
	color: #fff;
}
#articles > li .clr{
	clear: both;
}
.article-table{
	float: right;
	width: 800px;
}
#articles > li:nth-child(odd) .article-time span{
	color: #3498db;
}
.article-time{
	float: left;
	min-width: 100px;
	min-height: 80px;
	padding: 5px;
}
.article-time span{
	color: #2980b9;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}
#articles > li .article-time span:first-child{
	color: #7f8c8d;
	margin-left: 10px;
	font-size: 15px;
	font-weight: 200;
	display: block;
}
footer{
	color: #ecf0f1;
	min-width: 960px;
	background: #3498db;
	padding-left: 25%;
	padding-top: 40px;
	padding-bottom: 40px;
}
footer div div{
	margin-top: 3px;
}
footer #contact {
	float: left;
	margin-right: 80px;
}
footer div a{
	color: #ecf0f1;
	font-family: Georgia;
	font-size: 14px;
}
/*
footer div a, footer div.sns{
	margin-bottom: 14px;
	color: #ecf0f1;
	font-family: Georgia;
	font-size: 90%;
}
*/
/*
背景-深 #2c3e50
背景-浅 #34495e

蓝-深 #2980b9
蓝-浅 #3498db

CLOUDS #ecf0f1
silver #bdc3c7
cons #95a5a6

#30abd5
*/
